//HTML Y BODY

@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as mx;



body {
    position: relative;
    background-image: url('@/assets/img/hero_bg1.jpg'), url('@/assets/img/hero_bg2.jpg');
    background-position: top left, top right;
    background-repeat: no-repeat, repeat-x;
}
